/* kancollet css
 *      syusui_s
 */

div#kancollet {
	width: 800px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 50%;
	right: 50%;
	margin: 1px -400px 0 -400px;
	padding: 0 0.5em 0 0.5em;
	background-color: #ffffff;
}

form#kancollet-timers-form {
	float: left;
	margin: -2px 0 0 0;
	background-color: #ffffff;
}

table#kancollet-timers-table th, table#kancollet-timers-table td {
	font-size: 12px;
	border: 1px #000000 solid;
	padding: 0 0.25em 0 0.25em;
	margin: 0;
	text-align: right;
}

table#kancollet-timers-table th#expedition {
	color: #ffffff;
	background-color: #30adb2;
}

table#kancollet-timers-table th#dock {
	color: #ffffff;
	background-color: #81c838;
}

table#kancollet-timers-table th#arsenal {
	color: #ffffff;
	background-color: #ff6600;
}

span.timer-show {
	margin-left: 0.5em;
}

span.timer-button {
	margin: 0;
	padding: 0;
	margin-left: 0.25em;
	height: 1em;
	width: 1em;
}

span.timer-button > img {
	margin-bottom: -3px;
	opacity: 0.4;
}

span.timer-button#selected-timer > img {
	opacity: 1.0;
}

span.timer-button > img:hover {
	cursor: pointer;
	opacity: 0.8;
}

form#kancollet-timersetting-form {
	text-align: right;
	float: right;
	background-color: #ffffff;
}

form#kancollet-timersetting-form * {
	margin-left: 0.25em;
	margin-right: 0.25em;
}

input#kancollet-timersetting-time {
	width: 110px;
}

img#kancollet-timersetting-softwarename {
	margin-bottom: -1px;
}

img#kancollet-timersetting-closeimg {
	margin-bottom: -3px;
	opacity: 0.8;
}

img#kancollet-timersetting-closeimg:hover {
	cursor: pointer;
	opacity: 1.0;
}

div.clear { clear: both; }
div.clear hr { display: none; }
