#kancollet{
	width: 800px;
	overflow:hidden;
	position: fixed;
	top: 0;
	left: 50%;
	right: 50%;
	margin: 1px -400px 0 -400px;
	padding: 0 0.5em 0 0.5em;
	background-color: #ffffff;
}

#kancollet-timers-form{
	float: left;
	margin: -2px 0 0 0;
	background-color: #ffffff;
}

#kancollet-timers-table{
	border: 0px;
}
#kancollet-timers-table #expedition{
	color: #ffffff;
	background-color: #30adb2;
}

#kancollet-timers-table #dock{
	color: #ffffff;
	background-color: #81c838;
}
#kancollet-timers-table #arsenal{
	color: #ffffff;
	background-color: #ff6600;
}

#kancollet-timers-table th,td{
	font-size: 12px;
	border: 1px #000000 solid;
	padding: 0 0.25em 0 0.25em;
	margin: 0;
	text-align: right;
}
.timer-name{
}
.timer-show{
	margin-left: 0.5em;
}
.timer-button{
	margin: 0;
	padding: 0;
	margin-left: 0.25em;
	height: 1em;
	width: 1em;
}
.timer-button img{
	margin-bottom: -3px;
}
#kancollet-timersetting-form{
	text-align: right;
	float: right;
	background-color: #ffffff;
}

#kancollet-timersetting-form *{
	margin-left: 0.25em;
	margin-right: 0.25em;
}
#kancollet-timersetting-softwarename{
	margin-bottom: -1px;
}
#kancollet-timersetting-closeimg{
	margin-bottom: -3px;
}


.clear{ clear: both; }
.clear hr{ display: none; }
