/* kancollet css
 *      syusui_s
 */

div#kancollet {
	width: 800px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 50%;
	right: 50%;
	margin: 0px -400px 0 -400px;
	padding: 3px 8px 2px 8px;
	background-color: #ffffff;
	font-size: 16px;
	color: #222;
	border: 1px #999 solid;
	border-top: none;
}

div#kancollet input[type="button"], div#kancollet input[type="submit"] {
	padding: 1px 6px;
}

form#kancollet-timers-form {
	float: left;
	margin: -2px 0 0 0;
	background-color: #ffffff;
	font-size: 12px;
}

table#kancollet-timers-table th, table#kancollet-timers-table td {
	border: 1px #666 solid;
	padding: 0 2px 0 2px;
	margin: 0;
	text-align: right;
	height: 16px;
}

table#kancollet-timers-table th#expedition {
	color: #ffffff;
	background-color: #30adb2;
}

table#kancollet-timers-table th#dock {
	color: #ffffff;
	background-color: #81c838;
}

table#kancollet-timers-table th#arsenal {
	color: #ffffff;
	background-color: #ff6600;
}

span.timer-name {
	display: inline-block;
	width: 50px;
}

span.timer-show {
	display: inline-block;
	width: 65px;
	text-align: center;
}

button.timer-button {
	display: inline-block;
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
	height: 16px;
	width: 16px;
}

button.timer-button > img {
	opacity: 0.6;
	margin: 0;
	padding: 0;
	height: 14px;
	width: 14px;
	margin-bottom: -3px;
}

button.timer-button#selected-timer > img {
	opacity: 1.0;
}

button.timer-button > img:hover {
	cursor: pointer;
	opacity: 0.9;
}

form#kancollet-timersetting-form {
	text-align: right;
	float: right;
	background-color: #ffffff;
}

form#kancollet-timersetting-form * {
	margin-left: 2px;
}

input#kancollet-timersetting-time {
	width: 110px;
}

img#kancollet-timersetting-softwarename {
	margin-bottom: -1px;
}

img#kancollet-timersetting-closeimg {
	margin-bottom: -3px;
	opacity: 0.8;
}

img#kancollet-timersetting-closeimg:hover {
	cursor: pointer;
	opacity: 1.0;
}

div.clear { clear: both; }
div.clear hr { display: none; }
