#kancollet-timers{
	border: 0px #000000 solid;
}
#kancollet-timers #expedition{
	color: #ffffff;
	background-color: #30adb2;
}

#kancollet-timers #dock{
	color: #ffffff;
	background-color: #81c838;
}
#kancollet-timers #arsenal{
	color: #ffffff;
	background-color: #ff6600;
}

#kancollet-timers th,td{
	font-size: 12px;
	border: 1px #000000 solid;
	padding: 0 0.25em 0 0.25em;
	text-align: right;
}
.timer-name{
}
.timer-show{
	margin-left: 0.5em;
}
.timer-button{
	margin-left: 0.25em;
	height: 1em;
	width: 1em;
}

